In [16]:
import degiroapi
from degiroapi.product import Product
from degiroapi.order import Order
from degiroapi.utils import pretty_json
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

degiro = degiroapi.DeGiro()
degiro.login("alexleethinker", "")

exchanges = [
# [663,846,'NDQ','US','NASDAQ',2922],
# [676,846,'NSY','US','New York Stock Exchange',1896],
# [650,846,'ASE','US','NYSE MKT - Amex',181],
[200,978,'EAM','NL','Euronext Amsterdam',127],
[320,982,'EBR','BE','Euronext Brussels',141],
[710,886,'EPA','FR','Euronext Paris',685],
# [196,906,'TDG','DE','Tradegate AG',4679],
# [195,906,'FRA','DE','Borse Frankfurt',1112],
[194,906,'XET','DE','Xetra',722],
[608,915,'MIL','IT','Borsa Italiana S.p.A.',266],
[590,895,'MAD','ES','Bolsa de Madrid',170],
[219,940,'ATH','GR','Athens Stock Exchange',155],
[1001,908,'HSE','FI','OMX Helsinki',161],
[712,886,'MLI','FR','Euronext Access Paris',168],
[560,954,'ELI','PT','Euronext Lisbon',100],
    
]
exchanges_df = pd.DataFrame(exchanges,columns =['exchangeId','countryCode','hiqAbbr','country','name','numberOfStocks'])

Exception: Could not get client info. Response: <!DOCTYPE html><html><head>    <title>Blocked</title>    <meta name="viewport" content="width=device-width">    <style>        body {            font: 16px/18px Helvetica, Arial, sans-serif;            margin: 0        }        div.logo {            width: 100%;            height: 140px        }        .heading {            background-color: #ECECEC        }        .logo img {            display: block;            width: 160px;            margin: 0 auto;            padding-top: 30px        }        h1 {            margin: 0;            padding: 95px 0;            text-align: center;            color: #5E5D5D;            font-weight: lighter;            font-size: 40px;            letter-spacing: .03em;            line-height: 40px        }        h2 {            margin: 0;            padding: 25px 0;            text-align: center;            color: #6B6D6D;            font-weight: lighter;            font-size: 20px        }    </style>    <style>        @font-face {            font-family: myracloud;            src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAzMAAAC8AAAAYGNtYXAaVcxgAAABHAAAAExnYXNwAAAAEAAAAWgAAAAIZ2x5Zj5lif4AAAFwAAAFNGhlYWQFw12RAAAGpAAAADZoaGVhB8MDpAAABtwAAAAkaG10eCoDAP0AAAcAAAAAOGxvY2EJSggGAAAHOAAAAB5tYXhwABIAUAAAB1gAAAAgbmFtZd2kOzUAAAd4AAABV3Bvc3QAAwAAAAAI0AAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmCQPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEADgAAAAKAAgAAgACAAEAIOYJ//3//wAAAAAAIOYA//3//wAB/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAv/VAI0EKwQ3AEEARgAAAxE0NzYzITIXFhURFAcGIyEiFxQXFhcWFxYXFhcWMzIzNzIVFCMhIicmNzYzFzIzMjc2NzY3Njc2NzY9ASEiJyY1NyERIRErExMaA9YaExMSExv+lQEBBAUGBwoKCQkLCwcHBwgJCf4jBgICAgIGCAgGBwsLCAkKCgcGBQT+lRsTElYDqvxWAUcCsBsTEhITG/1QGxAPKw8MDQcIBQYCAwEBAQcGAwMDBAEBAQMCBgUIBw0MDysPEBubAgD+AAAAAAL/9QCCBAsEmAAgAE0AAAM0NzY3Njc2MzIXFhcWFxYVFAcGBwYHBiMiJyYnJicmNQUUHwEWMzI/ARcWMzI/ATY1NC8BNzY1NC8BJiMiDwEnJiMiDwEGFRQfAQcGFQsnJ0xLYWJjY2JhS0wnJycnTEthYmNjYmFLTCcnARQGWgYJCQZ5eQYJCQZaBgZ4eAYGWgYJCQZ5eQYJCQZaBgZ4eAYCjWNhYktLKCcnKEtLYmFjY2JiS0snJycnS0tiYmOICQZbBgZ5eQYGWwYJCQZ5eQYICQZbBgZ4eAYGWwYJCAZ5eQYJAAL/9QCCBAsEmAAgAD8AAAM0NzY3Njc2MzIXFhcWFxYVFAcGBwYHBiMiJyYnJicmNRcUHwEWMzI3ATY1NC8BJiMiDwEGIyIvASYjIg8BBhULJydMS2FiY2NiYUtMJycnJ0xLYWJjY2JhS0wnJ9kE3AQGBgQBawQEXAQGBQT8BAYGA24EBgYEWwQCjWNhYktLKCcnKEtLYmFjY2JiS0snJycnS0tiYmMFBQTdBAQBawQGBgRaBQX7BARtBARbBAYAAAEAVgEkA6sD9QAbAAATNDcBNhcWHQEhMhcWHQEUBwYjIRUUBwYnASY1VgcBvQYGBQFqCQYHBwYJ/pYFBgb+QwcCjQcGAVgFAgIJ3QcGCdQJBwbdCQMCBQFZBQgAAQBVASQDqwP1ABsAABM1NDc2MyE1NDc2FwEWFRQHAQYnJj0BISInJjVVBwcIAWoFBgYBvQgI/kQHBgX+lggHBwIj1AkGB90JAgIF/qgGBwgF/qcFAgMJ3QYHCQADAAAAAAQAA4AABAAJAA8AABMRIREhASERIREFIQ8BIScABAD8AAPA/IADgP7g/sAgQAIAQAOA/YACgP3AAgD+AICAQEAAAAADAAAAQAQAA0AACAANABEAADchMjY1IRQWMyUzFSM1EyEDIcACgFBw/ABwUAKAQECA/IBABABAcFBQcIBAQAKA/gAAAAEAAACABAACwAAlAAABNCYnLgMjIgYHLgEjIgYVFBYVLgEjIg4CFRQeAjMhMjY1BABMOQEmQVUxOWEhEjcgOE4BCBEJKEc1Hh41RygCkEhmAS4+Xg4wVT8kMSoYHE43BQoEAQIfNEcoKEc1HmZIAAABAEAAUwOtAy0AHgAAJQE2NCcBJiIHBhQfASEiBhUUFjMhBw4BFRQWFxYyNwJtAUATE/7AEjYSExPS/ZsbJSUbAmXSCgkJChI2ElMBQBI2EgFAExMSNhLTJRsbJdMJGAwMGAkTEwAAAAEAUwBTA8ADLQAeAAAlASY0NwE2MhcWFA8BITIWFRQGIyEXHgEVFAYHBiInAZP+wBMTAUASNhITE9ICZRslJRv9m9IKCQkKEjYSUwFAEjYSAUATExI2EtMlGxsl0wkYDAwYCRMTAAAAAQAAAAEAADGB+rhfDzz1AAsEAAAAAADRUov+AAAAANFSi/7/1QAABCsEmAAAAAgAAgAAAAAAAAABAAADwP/AAAAEAP/V/9UEKwABAAAAAAAAAAAAAAAAAAAADgAAAAAAAAAAAAAAAAIAAAAEAP/VBAD/9QQA//UEAABWBAAAVQQAAAAEAAAABAAAAAQAAEAEAABTAAAAAAAKABQAHgCGAPgBWAGGAbQB2AH6AjICZgKaAAAAAQAAAA4ATgADAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABABIAAAABAAAAAAACAA4AVQABAAAAAAADABIAKAABAAAAAAAEABIAYwABAAAAAAAFABYAEgABAAAAAAAGAAkAOgABAAAAAAAKADQAdQADAAEECQABABIAAAADAAEECQACAA4AVQADAAEECQADABIAKAADAAEECQAEABIAYwADAAEECQAFABYAEgADAAEECQAGABIAQwADAAEECQAKADQAdQBtAHkAcgBhAGMAbABvAHUAZABWAGUAcgBzAGkAbwBuACAAMQAuADAAbQB5AHIAYQBjAGwAbwB1AGRteXJhY2xvdWQAbQB5AHIAYQBjAGwAbwB1AGQAUgBlAGcAdQBsAGEAcgBtAHkAcgBhAGMAbABvAHUAZABGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype');            font-weight: 400;            font-style: normal        }    </style></head><body>    <div class="logo"><img            src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMywgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA3Mi4yIDEwLjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDcyLjIgMTAuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiMxMTExMTE7fQoJLnN0MXtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNGRkZGRkY7fQoJLnN0MntmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiMwMDlGREY7fQo8L3N0eWxlPgo8dGl0bGU+TG9nbyAtIHdoaXRlIENvcHk8L3RpdGxlPgo8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KPGcgaWQ9IkxvZ28tLS13aGl0ZS1Db3B5Ij4KCTxwYXRoIGlkPSJQYXRoIiBjbGFzcz0ic3QwIiBkPSJNMjcuOCw1LjFjMCwzLjgtMi41LDQuOS01LjgsNC45aC0zLjJWMC4ySDIyQzI1LjIsMC4yLDI3LjgsMS4zLDI3LjgsNS4xTDI3LjgsNS4xeiIvPgoJPHBhdGggaWQ9IlBhdGhfMV8iIGNsYXNzPSJzdDEiIGQ9Ik0yMS4xLDIuMXY1LjloMWMxLjcsMCwzLjMtMC40LDMuMy0zYzAtMi42LTEuNS0zLTMuMy0zSDIxLjF6Ii8+Cgk8cG9seWdvbiBpZD0iRmlsbC0zIiBjbGFzcz0ic3QwIiBwb2ludHM9IjM2LjUsMC4yIDM2LjUsMi4yIDMxLjMsMi4yIDMxLjMsMy45IDM2LjIsMy45IDM2LjIsNiAzMS4zLDYgMzEuMyw4IDM2LjUsOCAzNi41LDEwIAoJCTI4LjksMTAgMjguOSwwLjIgCSIvPgoJPGcgaWQ9IkNsaXAtNiI+Cgk8L2c+Cgk8cGF0aCBpZD0iRmlsbC01IiBjbGFzcz0ic3QwIiBkPSJNNDQuOCwzLjJjLTAuMi0wLjctMC45LTEuMy0yLjItMS4zYy0xLjQsMC0yLjUsMS4xLTIuNSwzLjFjMCwyLjEsMSwzLjIsMi42LDMuMgoJCWMxLjEsMCwyLjItMC40LDIuMi0xLjdWNi40aC0yLjRWNC41aDQuN1YxMGgtMS44bC0wLjEtMS4xYy0wLjYsMC45LTEuNiwxLjMtMywxLjNjLTIuOSwwLTQuNy0yLTQuNy01LjFjMC0zLjEsMi01LjEsNS01LjEKCQljMi4yLDAsNCwxLjEsNC40LDMuMkg0NC44eiIvPgoJPGcgaWQ9IkNsaXAtOSI+Cgk8L2c+Cgk8cG9seWdvbiBpZD0iRmlsbC04IiBjbGFzcz0ic3QwIiBwb2ludHM9IjQ4LjksMTAgNTEuMiwxMCA1MS4yLDAuMiA0OC45LDAuMiAJIi8+Cgk8cGF0aCBpZD0iUGF0aF8yXyIgY2xhc3M9InN0MCIgZD0iTTU1LjIsNi4zVjEwaC0yLjNWMC4yaDMuOGMyLjYsMCw0LjUsMC42LDQuNSwzYzAsMS41LTAuOCwyLjMtMS45LDIuN2wyLjQsNC4xaC0yLjdsLTIuMS0zLjcKCQlINTUuMnoiLz4KCTxwYXRoIGlkPSJQYXRoXzNfIiBjbGFzcz0ic3QxIiBkPSJNNTUuMiw0LjNoMS41YzEuMSwwLDEuOS0wLjIsMS45LTEuMWMwLTAuOS0wLjgtMS4xLTEuOS0xLjFoLTEuNVY0LjN6Ii8+Cgk8cGF0aCBpZD0iUGF0aF80XyIgY2xhc3M9InN0MCIgZD0iTTYyLDUuMUM2MiwyLDY0LjEsMCw2Ny4xLDBjMywwLDUuMSwyLDUuMSw1LjFjMCwzLjEtMi4xLDUuMS01LjEsNS4xQzY0LjEsMTAuMiw2Miw4LjIsNjIsNS4xIi8+Cgk8cGF0aCBpZD0iUGF0aF81XyIgY2xhc3M9InN0MSIgZD0iTTY5LjgsNS4xYzAtMi4xLTEuMi0zLjItMi42LTMuMmMtMS40LDAtMi42LDEuMS0yLjYsMy4yczEuMiwzLjIsMi42LDMuMgoJCUM2OC42LDguMyw2OS44LDcuMiw2OS44LDUuMSIvPgoJPHBvbHlnb24gaWQ9IkZpbGwtMTIiIGNsYXNzPSJzdDIiIHBvaW50cz0iMCw0LjEgMTYuNCw0LjEgMTYuNCwwLjIgMCwwLjIgCSIvPgoJPHBvbHlnb24gaWQ9IkZpbGwtMTMiIGNsYXNzPSJzdDIiIHBvaW50cz0iMCwxMCAxNi40LDEwIDE2LjQsNiAwLDYgCSIvPgo8L2c+Cjwvc3ZnPgo="            alt="DEGIRO logo"></div>    <div class="heading">        <h1>You are not supposed to be here</h1>        <h2>Reference: 83d02f30425d258a934307b2bcd01819</h2>        <h2>Remote IP: 193.123.60.23</h2>        <h2>Identifier: 69f25a1512df4531acb32e9e6e22f3cd=python_bot</h2>        <h2>Date: 19/Jul/2023:23:13:59 +0200</h2>    </div></body></html>

In [10]:
exchanges_df

,exchangeId,countryCode,hiqAbbr,country,name,numberOfStocks
0,200,978,EAM,NL,Euronext Amsterdam,127
1,320,982,EBR,BE,Euronext Brussels,141
2,710,886,EPA,FR,Euronext Paris,685
3,194,906,XET,DE,Xetra,722
4,608,915,MIL,IT,Borsa Italiana S.p.A.,266
5,590,895,MAD,ES,Bolsa de Madrid,170
6,219,940,ATH,GR,Athens Stock Exchange,155
7,1001,908,HSE,FI,OMX Helsinki,161
8,712,886,MLI,FR,Euronext Access Paris,168
9,560,954,ELI,PT,Euronext Lisbon,100

In [11]:
import warnings
warnings.filterwarnings("ignore")

products_df = pd.DataFrame()


exchanges = ['EAM','EBR','EPA','XET','MIL','ELI','ATH','MAD']

for exchange in exchanges_df['hiqAbbr']:
    exchangeId = exchanges_df[exchanges_df['hiqAbbr'] == exchange]['exchangeId']
    countryCode = exchanges_df[exchanges_df['hiqAbbr'] == exchange]['countryCode']
    n_offsets = exchanges_df[exchanges_df['hiqAbbr'] == exchange]['numberOfStocks'].values[0]//1000 + 1

    for i in range(0,n_offsets):
        try:
            print(exchange, i)
            products = degiro.get_stock_list(exchangeId,countryCode, offset = i * 1000)
            products_df = products_df.append(pd.DataFrame(products))
        except:
            continue

EAM 0
EBR 0
EPA 0
XET 0
MIL 0
MAD 0
ATH 0
HSE 0
MLI 0
ELI 0

In [9]:
products_df.to_csv('degiro_allStocks.csv', index = False)

In [13]:
products_df

Empty DataFrame
Columns: []
Index: []

In [4]:
import requests

url = 'https://trader.degiro.nl/product_search/config/dictionary'
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

r= requests.get(url , headers = headers)

In [5]:
import json

exchanges = json.loads(r.text)


for i in exchanges:
    print(i)

stockCountries
bondExchanges
bondIssuerTypes
eurexCountries
futureExchanges
optionExchanges
combinationExchanges
cfdExchanges
exchanges
indices
regions
countries
productTypes
etfFeeTypes
investmentFundFeeTypes
optionAggregateTypes
leveragedAggregateTypes
etfAggregateTypes
investmentFundAggregateTypes
lookupSortColumns
stockSortColumns
bondSortColumns
cfdSortColumns
etfSortColumns
futureSortColumns
investmentFundSortColumns
leveragedSortColumns
optionSortColumns

In [8]:
pd.DataFrame(exchanges['countries']).fillna('')

      id name        translation  region
0    908   FI   list.country.908       1
1    895   ES   list.country.895       1
2    953   HU   list.country.953       1
3    975   DK   list.country.975       1
4    954   PT   list.country.954       1
5    899   SE   list.country.899       1
6    976   CH   list.country.976       1
7    911   NO   list.country.911       1
8    978   NL   list.country.978       1
9    957   AT   list.country.957       1
10   913   PL   list.country.913       1
11   959   CZ   list.country.959       1
12   915   IT   list.country.915       1
13  1030   SG  list.country.1030       3
14   880   TR   list.country.880       1
15   982   BE   list.country.982       1
16   940   GR   list.country.940       1
17   886   FR   list.country.886       1
18   963   IE   list.country.963       1
19   985   SB   list.country.985       3
20  1023   HK  list.country.1023       3
21   845   CA   list.country.845       2
22   923   GB   list.country.923       1
23   846   US   list.country.846       2
24   849   AU   list.country.849       3
25   905   JP   list.country.905       3
26   906   DE   list.country.906       1

In [54]:
pd.DataFrame(exchanges['stockCountries']).explode('exchanges').fillna('')

      id  country                                            indices exchanges
0    908      908                       [112002, 16, 112001, 120005]
1    895      895                               [10, 115002, 115001]
2    953      953                                   [107002, 107001]
3    975      975       [109006, 15, 109001, 109003, 109004, 120005]
4    954      954                                               [18]
5    899      899       [120001, 17, 120003, 120004, 120002, 120005]
6    976      976               [19, 121001, 121002, 121003, 121004]
7    911      911           [111002, 111001, 111004, 111005, 111003]
8    978      978                                          [1, 2, 3]
9    957      957                                   [105002, 105001]
10   913      913                           [103003, 103001, 103002]
11   959      959                                           [104001]
12   915      915               [11, 110003, 110004, 110001, 110002]
13  1030     1030                                           [126001]
14   880      880                                           [116001]
15   982      982                                [4, 102002, 102001]
16   940      940                           [108003, 108001, 108002]
17   886      886                        [5, 101005, 101002, 101006]
18   963      963           [114002, 114004, 114005, 114001, 114003]
19  1023     1023                                           [125001]
20   845      845                                                          893
20   845      845                                                          892
21   923      923  [9, 113001, 113002, 113003, 113004, 113005, 11...
22   846      846                               [12, 122001, 13, 14]       650
22   846      846                               [12, 122001, 13, 14]      1004
22   846      846                               [12, 122001, 13, 14]       663
23   849      849                                           [124001]
24   905      905                                           [123001]
25   906      906                        [6, 106002, 106003, 106001]